.borderless {
  background: transparent;
  border: solid 1px #e8e8e8;
  width: 100%;
  overflow: auto;

  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  color: #8e9fad;
  padding: 10px;

  &:focus{
    outline: 0;
  }
}
