.borderedInput {
  height: 54px !important;
  padding-top: 0px !important;
  border: solid 1px #8e9fad !important;
  font-weight: 400 !important;
}

.borderlessInput {
  background: transparent !important;
  border: none;
  border-bottom: solid 1px #8e9fad;
  width: 100%;
  height: 54px !important;
  &:focus{
    outline: 0;
  }
}
